version: 2

updates:

  - package-ecosystem: pip
    directory: "/"
    schedule:
      interval: monthly
    labels:
      - "kind/dependencies"
      - "bot"
    open-pull-requests-limit: 10
    target-branch: devel

  - package-ecosystem: "github-actions"
    # Workflow files stored in the default location of `.github/workflows`
    directory: "/"
    schedule:
      interval: monthly
    labels:
      - "area/ci"
      - "github_actions"
      - "kind/dependencies"
      - "bot"
    groups:
      # open a single pull-request for all GitHub actions updates
      github-actions:
        patterns:
        - '*'
    open-pull-requests-limit: 10
    target-branch: devel

  - package-ecosystem: "gitsubmodule"
    directory: "/"
    schedule:
      interval: monthly
    labels:
      - "kind/dependencies"
      - "bot"
    open-pull-requests-limit: 10
    target-branch: devel

  - package-ecosystem: "uv"
    directory: "/"
    schedule:
      interval: weekly
      day: thursday
    labels:
      - "area/ci"
      - "kind/dependencies"
      - "bot"
    open-pull-requests-limit: 10
    target-branch: devel
