#
# Special handling for binary files
# See https://git-scm.com/book/en/v2/Customizing-Git-Git-Attributes
#
*.xz binary
*.zip binary
*.bz2 binary
*.gz binary
*.zip binary
*.npy binary
*.docx binary
*.xlsx binary
*.png binary
*.so binary
*.dll binary
*.pyd binary
*.sqlite binary
*.nc binary
*.parquet binary
# SCM syntax highlighting & preventing 3-way merges
uv.lock merge=binary linguist-language=TOML linguist-generated=true
