# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
    -   id: trailing-whitespace
        exclude: \.(xlsx|zip)$|data
    -   id: end-of-file-fixer
        exclude: \.(xlsx|zip)$|data|docs
    -   id: check-yaml
    -   id: check-toml
    -   id: check-added-large-files
-   repo: https://github.com/myint/rstcheck
    rev: 3f92957
    hooks:
    -   id: rstcheck
-   repo: local
    hooks:
    -   id: isort
        name: isort
        exclude: dev
        entry: poetry run isort
        language: system
        types: [python]
    -   id: black
        name: black
        entry: poetry run black
        language: system
        types: [python]
    -   id: flake8
        name: flake8
        exclude: tests|runner|dev
        entry: poetry run flake8
        language: system
        types: [python]
